@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap');
body{
    font-family: poppins;
    background-color: #333;
}
h2{
    // color: white;
    font-family: poppins;
}
p{
    // color: #aaa;
    font-family: roboto;
    font-size: 14px;
}
.container1{
    // background-color: #191919;
    border: 0.2rem solid #fff;
    border-radius: 1rem;
    padding: 1rem 2rem;
}